<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a th:href="@{/logout}">Log out</a>
<a th:href="@{/user}">My page</a>
<form action="#" th:action="@{/admin}" th:object="${user}" method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            Registering New User
            </thead>

            <tr>
                <th> Username </th>
                <th><input type="text" th:field="*{username}" /></th>
            </tr>

            <tr>
                <th> Password </th>
                <th><input type="password" th:field="*{password}" /></th>
            </tr>

            <tr>
                <th> First Name </th>
                <th><input type="text" th:field="*{firstName}" /></th>
            </tr>

            <tr>
                <th> Last Name </th>
                <th><input type="text" th:field="*{lastName}" /></th>
            </tr>
            <tr>
                <th> Age  </th>
                <th><input type="number" th:field="*{age}" /></th>
            </tr>

            <tr>
                <th>Roles </th>
                <th>
                    <input type="checkbox" name="roles"
                       th:each="role : ${all_roles}"
                       th:text="${role}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                    />
                </th>

            </tr>
            <tr>
        </table>
    </fieldset>
</form>

<table>
    <thead>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Age </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users?.empty}">
        <td colspan="2"> No Users in The Table </td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.firstName}"> First Name </span></td>
        <td><span th:text="${user.lastName}"> Last Name </span></td>
        <td><span th:text="${user.age}"> Age </span></td>
        <td><a th:href="@{/admin/update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>

</html>