<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a th:href="@{/logout}">Log out</a>
<div>

    <table>
        <thead>
        >>>User page
        </thead>
        <tr>
            <th> Username </th>
            <th><span th:text="${user.username}"></span></th>
        </tr>

        <tr>
            <th> First Name </th>
            <th><span th:text="${user.firstName}"></span></th>
        </tr>

        <tr>
            <th> Last Name </th>
            <th><span th:text="${user.lastName}"></span></th>
        </tr>
        <tr>
            <th> Age  </th>
            <th><span th:text="${user.age}"></span></th>
        </tr>

        <tr>
            <th>Roles </th>
            <th>

                <span
                       th:text="${#strings.setJoin(user.roles, ',')}"></span>
            </th>

        </tr>
        <tr>
    </table>
</div>
</body>
</html>