<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link href="https://getbootstrap.com/docs/4.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.6/examples/starter-template/starter-template.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="https://spring.io/images/favicon-9d25009f65637a49ac8d91eb1cf7b75e.ico" rel='shortcut icon' type='image/vnd.microsoft.icon'>

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>


</head>

<body class="bg-light">

    <nav class="bar navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-8 text-white">
                    <h5 id="navBarHeader">
                    </h5>
                </div>

                <div class="col-4">
                    <a class="ui-button font-weight-light text-secondary"   th:href="@{/logout}">Log out</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-3 p-3 mb-2 bg-white text-dark">
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav flex-column nav-pills" id="role" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:class="${__${#authorization.expression('hasRole(''ROLE_ADMIN'')')}__ ? 'nav-link active' : 'nav-link'}" id="admintab" data-toggle="pill" href="#admin" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a sec:authorize="hasRole('ROLE_USER')" th:class="${__${#authorization.expression('hasRole(''ROLE_ADMIN'')')}__ ? 'nav-link' : 'nav-link active'}" id="usertab" data-toggle="pill" href="#user" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>

            <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav flex-column nav-pills" id="role_user" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#user" role="tab" aria-controls="v-pills-profile" aria-selected="true">User</a>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div sec:authorize="hasRole('ROLE_ADMIN')"  class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="role">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#users" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#new_user" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> First Name </th>
                                    <th> Last Name </th>
                                    <th> Age </th>
                                    <th> Email </th>
                                    <th> Roles </th>
                                    <th> Edit </th>
                                    <th> Delete </th>
                                </tr>
                                </thead>
                                <tbody id="tableOfUsers">

                                </tbody>
                            </table>

                            <div class="modal fade" th:id="updateModal" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="" id="updateForm">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editHeader">Edit user</h5>
                                            </div>
                                            <div class="modal-body">

                                                <input type="hidden" id="id_edit" name="id">
                                                <div class="form-group">
                                                    <label for="fn_edit">First name</label>
                                                    <input type="text" class="form-control" id="fn_edit" placeholder="First Name" name="firstName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="ln_edit">Last name</label>
                                                    <input type="text" class="form-control" id="ln_edit" placeholder="Last Name" name="lastName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="age_edit">Age</label>
                                                    <input type="number" class="form-control" id="age_edit" placeholder="Age" name="age"  value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email_edit">Email</label>
                                                    <input type="email" class="form-control" id="email_edit" placeholder="Email" name="email"  value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password_edit">Password</label>
                                                    <input type="password" class="form-control" id="password_edit" placeholder="Password" name="password" value="">
                                                </div>

                                                <select class="custom-select" name="roles" id="roles_edit" multiple>

                                                </select>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-4"></div>
                                                    <div class="col-4">
                                                        <button class="btn btn-secondary" type="reset" data-dismiss="modal">Close</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-primary" type="submit">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" th:id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <form action="" id="deleteForm">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="Delete user">Delete user</h5>
                                            </div>
                                            <div class="modal-body">
                                                <fieldset disabled>
                                                    <div class="form-group">
                                                        <label for="fn_delete">First name</label>
                                                        <input type="text" class="form-check" id="fn_delete" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ln_delete">Last name</label>
                                                        <input type="text" class="form-check" id="ln_delete" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="age_delete">Age</label>
                                                        <input type="number" class="form-check" id="age_delete" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email_delete">Email</label>
                                                        <input type="email" class="form-check" id="email_delete" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password_delete">Password</label>
                                                        <input type="password" class="form-check" id="password_delete" >
                                                    </div>

                                                    <select class="custom-select" name="roles" id="roles_delete" multiple>

                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-4"></div>
                                                    <div class="col-4">
                                                        <button class="btn btn-secondary" type="reset" data-dismiss="modal">Close</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-danger" type="submit">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row justify-content-center">

                                <div class="col-4">
                                    <form action="" id="newUser">
                                        <div class="form-group">
                                            <label for="fn"> First name </label>
                                            <input type="text" class="form-control" id="fn" placeholder="First name" name="firstName" >
                                        </div>
                                        <div class="form-group">
                                            <label for="ln">Last name</label>
                                            <input type="text" class="form-control" id="ln" placeholder="Last name" name="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input type="number" class="form-control" id="age" placeholder="Age" name="age">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                        </div>

                                        <select class="custom-select" name="roles" multiple>
                                            <option value="ROLE_ADMIN"> ADMIN </option>
                                            <option value="ROLE_USER"> USER </option>
                                        </select>

                                        <button class="btn btn-success" type="submit">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')"  th:class="${__${#authorization.expression('hasRole(''ROLE_ADMIN'')')}__ ? 'tab-pane fade' : 'tab-pane fade show active'}" id="user" role="tabpanel" aria-labelledby="role">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Age </th>
                            <th> Email </th>
                            <th> Roles </th>
                        </tr>
                        </thead>
                        <tbody id = "userData">

                        </tbody>
                    </table>
                </div>
            </div>





    </div>
    </div>

    <script  src="static/js/fillings.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>